body {
  padding: 0;

  margin: 0;
}
.container {
  background-image: url(images/shapes/Group\ 57888.png),
    url(images/shapes/Group\ 57888.png);
  background-repeat: no-repeat;
  background-position: right bottom, left bottom;
  background-position-y: 75rem, 110rem;
}

.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}
.top-banner div {
  width: 40%;
}
.top-banner .img img {
  width: 70%;
  padding: 0% 5%;
  margin-left: 20%;
  margin-bottom: 10%;
}
.top-banner .info {
  margin-right: 5%;
}
.top-banner .info h1 {
  font-size: 50px;
  margin: 0px;
  color: #333333;
  padding: 0px 9px;
  border-left: 4px solid #ff5959;
}
.top-banner .info h1 span {
  color: #ffad5a;
}
.top-banner .info p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
}
.top-banner .info .p1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.top-banner .info .p2 {
  margin-top: 30px;
}
.top-banner .info a {
  text-decoration: none;
  color: #fff;
  background-color: #ff5959;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 2% 6%;
  border-radius: 7px;
}
.top-banner .info a:hover {
  color: #000;
  box-shadow: 0px 2px 30pc #ffad5a;
}
#head {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  border: none;
  padding: 0px;
}
/*top banner end */
/*my mission Start*/
.mission {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  margin-top: 40px;
}
.mission h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.mission h1 span {
  color: #ffad5a;
}
.mission .goal {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-family: "Poppins", sans-serif;
}

.mission .goal .item {
  width: 30%;
  background-color: #fff4d6;
  margin: 0% 1%;
  border-radius: 20px;
  padding: 0% 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  text-align: center;
}
.mission .goal .item img {
  width: 63%;
}
.mission .goal #item-1 {
  background-color: #edf5f6;
}
.mission .goal #item-2 {
  background-color: #ffeeee;
}
.mission .goal h3 {
  font-size: 20px;
  font-weight: 700;
}
.mission hr {
  width: 50%;
  margin-top: -40px;
}

/*developer section Srart*/
#developer {
  margin-top: 100px;
  width: 80%;
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: left;
  background-position-x: 3%;
}
#developer img {
  width: 70%;
}
#developer div {
  width: 60%;
}
#developer .img img {
  width: 70%;
  padding: 0% 5%;
  margin-right: 20%;
  margin-top: 10%;
}
#developer .img {
  margin-right: 5%;
}
#know {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 190px;
}
#app #app-1 {
  width: 100%;
}
#app #app-1 div {
  width: 40%;
}
#app #app-1 .app-img {
  width: 40%;
  margin: 0px 40px;
  background-image: url(images/shapes/shape-3.png),
    url(images/shapes/shape-3.png), url(images/shapes/shape-3.png);
  background-repeat: no-repeat;
  background-position: top left, left bottom, bottom right;
  background-size: 165px;
  background-position-y: 3px, 500px, 290px;
  background-position-x: 0px, 0px, 225px;
}
#app #app-1 .app-img img {
  width: 80%;
}
#app .data a {
  text-decoration: none;
  color: #fff;
  background-color: #ff5959;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 2% 6%;
  border-radius: 7px;
}
#app .data a:hover {
  color: #333333;
}
#app .data .p1 {
  margin-bottom: 30px;
  margin-top: -30px;
}
.mission h2 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.mission h2 span {
  color: #ffad5a;
}
.mission .app-info {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
}

.footer {
  width: 100%;
  background-color: #0b0d17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer h2 {
  color: #fff;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.footer h2 span {
  color: #ff5959;
}
.footer p {
  color: #ffffffac;
}
